.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.video{
 display: inline-block;
 margin: 20px;

}
.thum
{
    display: block;
}
.pro{
    display:inline-block;
   
}
.con{
   display: grid;
   grid-template-columns: 50px 300px;

}
.thumbnails{
    width: 375px;
    height: 273px; 
    border-radius: 10px;
    cursor: pointer;
}
.info{
    width: 330px;
}
